<div class="footer">
      <div class="footer-content">
        <p>© 2024 AirbnBoat, Inc. Made by Le Wagon Lausanne 1585</p>
        <div class="social-media">
          <p>Follow us on:</p>
          <div class="footer-links">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
