.boat-header {
  background-position: center;
  background-size: cover;
  height: 350px;
}

.boat-show-card {
  background: #f8f9fa;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.boat-show-description {
  font-weight: 300;
  font-size: 20px;
  color: #333;
}

.margin-top-negative {
  margin-top: 20px;
}

#owned-by > p {
  font-weight: 250;
  font-size: 15px;
  margin-bottom: 0px;
}

#owned-by {
  padding: 20px 10px;
  margin-top: 10px;
}

#show-detail {
  margin-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: -5px;
}

.grid-item {
  padding: 5px;
  text-align: center;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.big .boat-img {
  height: 100%;
}

.boat-img {
  background-size: cover;
  background-position: center;
  height: 200px;
  padding: 5px;
}

#show-boat-name {
  padding: 10px 20px;
}

.grid-item .boat-img {
  border-radius: 0px !important;
}

.boat-show-card .list-group-item {
  border-bottom: none;
  background-color: rgb(248, 249, 250);
}
.boat-show-card .list-group {
  background-color: rgb(248, 249, 250);
}

#sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
  z-index: 1000;
}

h3.card-title {
  margin-bottom: 25px;
}
