body {
  margin-top: 0;
  padding: 0;
  height: 100%;
}

.card:hover {
  transform: scale(1.02);
}
.card {
  transition: transform 0.5s;
  border-radius: 10px !important;
  box-shadow: 0 18px 26px 0 rgba(6, 40, 62, 0.2);
}

.boat-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.mt-auto {
  background-color: rgb(248, 248, 240);
  padding: 12px;
  border-radius: 10px;
}
