

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

h1 {
  text-align: center;
  color: #050331;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-bottom: 30px;
  animation: fadeIn 1s ease-in-out;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

h2:hover {
  transform: scale(1.1);
    color: #788592;
}

h1:hover {
  transform: scale(1.1);
    color: #000000;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  color: #777;
  padding-bottom: 100px;
  animation: fadeIn 3s ease-in-out;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;


}
